body {
  background: white;
}
table{
  border-collapse: collapse;
    text-align: right;
     padding: 8px;
     width: 25%;
    
}
.bucket{
   white-space: pre;
   width: 50%;
}
.array{
  border: 1px solid black;
  
}
